<li class="list-item" [class.favourite]="contact().isFavorite === true">
    <span class="cell name">{{contact().firstName}} {{contact().lastName}}</span>
    <span class="cell phone">{{contact().number}}</span>
    <span class="cell email">{{contact().email}}</span>
    <span class="cell script">-</span>
    <span class="cell actions">
        <button id="button-delete" (click)="openDeleteModal()">Borrar</button>
        <a id="edit" [routerLink]="['/contacts',contact().id,'edit']">Editar</a>
    </span>
    <span class="cell star">
        @if (contact().isFavorite === true) {
            ⭐
        }
    </span>
</li>
    